* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: linear-gradient(
		to bottom,
		#118c7e 0%,
		#118c7e 15%,
		#ece5dd 15%,
		#ece5dd 100% /* whatsapp brand resources per i colori */
	);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Lato", sans-serif;
	min-width: 900px;
}

/* CONTAINER */
.container {
	display: flex;
	width: 80%;
	height: 95%;
	min-width: 900px;
	background: #fff;
}

/* HEADER */

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #ededed;
	padding: 10px 10px;
}

header a i {
	margin-right: 15px;
	font-size: 18px;
	color: #bababa;
	transition: color 0.1s;
}

header a i:hover {
	color: #666666;
}

/* AVATAR IMAGES */
img.avatar {
	max-width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

/* ASIDE */
.side {
	flex-basis: 35%;
}

header .user-name {
	flex-grow: 1;
}

/* NOTIFICATIONS ALERT */
aside .notifications {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 20px;
	background: #a2defe;
}

aside .notifications a i {
	color: #a2defe;
	background: #fff;
	border-radius: 50%;
	line-height: 50px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	margin-right: 10px;
}

aside .notifications .notifications-content a {
	color: #666666;
	text-decoration: underline;
	font-size: 14px;
}

/* SEARCH CHAT */

.search-chat {
	background: #ededed;
	padding: 10px;
}

.search-chat .search-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	border: 1px solid rgba(221, 221, 221, 0.7);
}

.search-chat .search-container a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-right: 1px solid #ededed;
	width: 75px;
	height: 40px;
}

.search-chat .search-container a i {
	font-size: 18px;
	color: #bababa;
}

.search-chat .search-container .text {
	padding: 10px;
	border: none;
	flex-grow: 1;
	outline: none;
}

.search-chat .search-container .text::placeholder {
	color: #ccc;
}

/* CONTACTS */

section.contacts ul.contacts-list .contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 10px 20px;
	border-bottom: 1px solid #eee;
	transition: background-color 0.1s;
}

section.contacts ul.contacts-list .contact:hover {
	background-color: #ddd;
	cursor: pointer;
}

section.contacts ul.contacts-list .contact:last-child {
	border-bottom: none;
}

section.contacts ul.contacts-list .contact img.avatar {
	max-width: 60px;
	margin-right: 20px;
}

section.contacts ul .contact .name {
	flex-grow: 1;
}
/* CONTENT */

.content {
	flex-basis: 65%;
	display: flex;
	flex-direction: column;
}

/* CONTENT HEADER */

main .main-header .header-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

main .main-header .header-content .last-access {
	font-size: 14px;
	color: #bababa;
}

main .main-header {
	border-left: 1px solid #bababa;
}

/* CONTENT MAIN */
.content-main {
	flex-grow: 1;
	overflow-y: auto;
	background-image: url(../img/mine.jpg);
}

.content-main .chat {
	padding: 60px 80px;
	display: flex;
	flex-direction: column;
}

.content-main .chat .message {
	display: flex;
	width: 100%;
}

.content-main .chat .message.sent {
	justify-content: flex-end;
}

.content-main .chat .msg {
	max-width: 70%;
	min-width: 40%;
	position: relative;
	background: white;
	padding: 10px 10px 20px;
	line-height: 20px;
	word-wrap: anywhere;
	margin-bottom: 10px;
	border-radius: 10px;
}

.content-main .chat .msg .date {
	position: absolute;
	bottom: 2px;
	right: 5px;
	font-size: 10px;
	padding-top: 5px;
	color: #888;
}

.content-main .chat .msg.sent {
	background: #dcfabe;
}

/* CONTENT FOOTER */

.content-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #f4f0ed;
	padding: 10px 0px;
}

.content-footer a {
	width: 80px;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.content-footer i {
	font-size: 22px;
	color: #777;
	transition: color 0.1s;
}

.content-footer i:hover {
	color: #333;
}

.content-footer input {
	flex-grow: 1;
	height: 50px;
	padding: 10px;
	border: none;
	flex-grow: 1;
	outline: none;
}

.content-footer input::placeholder {
	color: #999;
}
