<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js' integrity='sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==' crossorigin='anonymous'></script>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
<body>
    <!-- Sfondo da fare con
         background linear gradient al body -->
    <div id="app" class="container">
        <aside class="side">
            <!-- SIDE HEADER -->
            <header class="side-header">
                <img :src="'img/avatar' + user.avatar + '.jpg'" alt="user.name" class="avatar user-image">
                <div class="user-name">{{user.name}}</div>
                <a href="#"><i class="fas fa-circle-notch"></i></a>
                <a href="#"><i class="fas fa-comment-alt"></i></a>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </header>

            <!-- NOTIFICATIONS -->
            <section class="notifications">
                <a href="#"><i class="fas fa-bell-slash"></i></a>
                <div class="notifications-content">
                    <div class="text">Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">
                        <div class="enable">Attiva notifiche desktop</div>
                    </a>
                </div>
            </section>

            <!-- SEARCH CHAT -->
            <section class="search-chat">
                <div class="search-container">
                     <a href="#"><i class="fas fa-search"></i></a>
                     <input class="text" type="text" placeholder="Cerca o inizia una nuova chat" @keyup="searchResults" v-model.trim="filterWord">
                </div>
            </section>

            <!-- CONTACTS -->
            <section class="contacts">
                <ul v-if="contacts.length > 0" class="contacts-list">
                    <li 
                    class="contact" 
                    v-for="(contact, index) in contacts" 
                    :class="{ active: index == indexChat }"
					@click="switchChat(index)"
                    v-show="contact.visible">
                        <img :src="`img/avatar${contact.avatar}.jpg`" alt="avatar-contact" class="avatar">
                        <span class="name" >
                            {{contact.name}}
                        </span>
                    </li>
                   
                </ul>
                <div v-else>Non hai nessun contatto</div>
            </section>
        </aside>
        <main class="content">
            
            <header class="main-header">
            <img :src="'img/avatar' + contacts[indexChat].avatar + '.jpg'" alt="user-image" class="avatar user-image">
            <div class="header-content">
                <div class="user-name">{{contacts[indexChat].name}}</div>
                <div class="last-access">Ultimo accesso oggi alle 13:45</div>
            </div>
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-paperclip"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </header>
            
            <section class="content-main">
                <div class="chat" >
                        <div class="message" v-for="(message,index) in contacts[indexChat].messages" :class="message.status" > 
                           <div class="msg" :class="message.status === 'sent' ? 'green' : 'white'"> {{message.message}}
                                <div class="date">
                                  {{message.date}}
                                </div>
                            </div>
                        </div>
                </div>
            </section>
            <footer class="content-footer">
                <a href="#"><i class="far fa-smile"></i></a>
                <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="addMessage" v-model.trim="newMessage" ref="inputAddMessage">
                <a href="#"><i class="fas fa-microphone"></i></a>
            </footer>
        </main>
       
    </div>
    
    <!-- Js -->
    <script src="./js/script.js"></script>
</body>
</html>